<div>

    <h4 class="text-muted mb-4">Les catégories </h4>
  
    <div class="row mb-4">
  
      <div class="col-md-12">
        <div class="card border-0 rounded-0">
       
          <div class="card-body">
            <div class="text-right">
              <button pButton type="button" [label]="'Nouveau catégorie '" class="p-button-sm mb-1" (click)="openDialog()" ></button>
              </div>
              <p-table #dt [value]="categories" class="table table-hover"  [globalFilterFields]="['name','qte','value','lastSale','lastPurchase']"
              [rows]="10" [showCurrentPageReport]="true"  [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading">
                <ng-template pTemplate="caption">
                  <div class="table-header ">
               Recherche
                      <span class="p-input-icon-left">
                         
                          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"  />
                      </span>
                  </div>
              </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    
                    <th scope="col">Nom</th>
                    <th scope="col">Nombre des Produit en Stock</th>
                    <th scope="col">La Valeur</th>
                    <th scope="col">Dernière Achat</th>
                    <th scope="col">Dernière Vente</th>
                    <th scope="col">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                  <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.qte}}</td>
                    <td class="price">{{category.value}} DH</td>
                    
                    <td *ngIf="category.lastPurchase; else elseBlocklastPurchase">{{category.lastPurchase | date: "dd/MM/yyyy"}}</td>
                    <ng-template #elseBlocklastPurchase><td><span class="badge badge-danger mt-2">Indisponible</span></td></ng-template>
                    <td *ngIf="category.lastSale; else elseBlockSale">{{category.lastSale | date: "dd/MM/yyyy"}}</td>
                    <ng-template #elseBlockSale><td><span class="badge badge-danger mt-2">Indisponible</span></td></ng-template>                
                           
                    <td>
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " (click)="edit(category)">
                        <i class="far fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2" (click)="delete(category)">
                        <i class="far fa-trash-alt"></i>
                      </a>
                  
                    </td>         
         
                  </tr>
                  
                </ng-template>
              </p-table>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  

  
  <p-dialog [header]="buttonLabel" [(visible)]="display" [style]="{width: '50vw'}">
    <form>
     
        <div class="form-group">
          <label for="exampleInputEmail1">Nom :</label>
          <input type="text" class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp"
           [(ngModel)]="category.name" name="name">
           <label for="exampleInputEmail1" *ngIf="submitted && !category.isValid()"  class="error">Ce champ est obligatoir</label>


        </div>
        <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="updateOrCreate()">Valider</button>
        <button type="button " class="btn btn-outline-lightning rounded-0 mb-2" (click)="display=false">Annuler</button>
      </form>
</p-dialog>

<p-confirmDialog #cd header="Confirmation " icon="pi pi-exclamation-triangle ">
    <p-footer>
      <p-button
        type="button "
        icon="pi pi-times "
        label="Non "
        (click)="cd.reject()"
      ></p-button>
      <p-button
        type="button "
        icon="pi pi-check "
        label="Oui "
        (click)="cd.accept()"
      ></p-button>
    </p-footer>
  </p-confirmDialog>
