<div>

    <h4 class="text-muted mb-4">Les veunders </h4>
   
    <div class="row mb-4">
  
      <div class="col-md-12">
        <div class="card border-0 rounded-0">
       
          <div class="card-body">
            <div class="text-right">
              <button pButton type="button" [label]="'Nouveau veunder '" class="p-button-sm mb-1" (click)="openDialog()" ></button>
              </div>
            <div class="table-responsive-md">
              <p-table #dt [value]="selleries" class="table table-hover"  [globalFilterFields]="['name','phone','cin','city','lastPurchase']"
              [rows]="10" [showCurrentPageReport]="true"  [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading">
                <ng-template pTemplate="caption">
                  <div class="table-header ">
                      List Des veunders
                      <span class="p-input-icon-left">
                         
                          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"  />
                      </span>
                  </div>
              </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                  
                    <th scope="col">Nom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">CIN</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Dernière Achat</th>
                    <th scope="col">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-seller>
                  <tr >
                    
                    <td>{{seller.name}}</td>
                    <td>{{seller.phone}}</td>
                    <td >{{seller.cin}}</td>
                    
                    <td>{{seller.city}}</td>                
                    <td>{{seller.lastPurchase}}</td>       
                    <td>
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " (click)="edit(seller)">
                        <i class="far fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2" (click)="delete(seller)">
                        <i class="far fa-trash-alt"></i>
                      </a>
                  
                    </td>         
         
                  </tr>
                  
                </ng-template>
              </p-table>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  

  </div>
  
  
  <p-dialog [header]="buttonLabel" [(visible)]="display" [style]="{width: '50vw'}">
    <form>
     
        <div class="form-group">
          <label for="exampleInputEmail1">Nom :</label>
          <input type="text" class="form-control rounded-0" 
           [(ngModel)]="seller.name" name="name">
           <label for="exampleInputEmail1">Téléphone :</label>
           <input type="tel" class="form-control rounded-0" 
            [(ngModel)]="seller.phone" name="tel">
            <label for="exampleInputEmail1">CIN :</label>
           <input type="text" class="form-control rounded-0" 
            [(ngModel)]="seller.cin" name="cin">
            <label for="exampleInputEmail1">La ville :</label>
            <input type="text" class="form-control rounded-0" 
             [(ngModel)]="seller.city" name="city">

        </div>
        <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="updateOrCreate()">Valider</button>
        <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">Annuler</button>
      </form>
</p-dialog>

<p-confirmDialog #cd header="Confirmation " icon="pi pi-exclamation-triangle ">
    <p-footer>
      <p-button
        type="button "
        icon="pi pi-times "
        label="Non "
        (click)="cd.reject()"
      ></p-button>
      <p-button
        type="button "
        icon="pi pi-check "
        label="Oui "
        (click)="cd.accept()"
      ></p-button>
    </p-footer>
  </p-confirmDialog>
